* {
    font-family: Arial, Helvetica, sans-serif;
}

.low {
    background: green;
}

.moderate {
    background: yellow;
}

.high {
    background: orange;
}

.very-high {
    background: red;
}

.extreme {
    background: purple;
}

.card-icon {
    height: 50px;
    width: 50px;
}

header {
    width: 100%;
    font-size: 50px;
    padding: 15px;
    background-image: linear-gradient(to bottom right, dodgerblue, transparent);
    margin-bottom: 20px;
}

header, h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.current-weather-container {
    border: solid 3px black;
    padding: 2px;
    border-radius: 15px;
}

.my-card {
    border: solid 3px black;
    width: 15%;
    border-radius: 15px;
    margin: 2px;
    padding: 7px;
    background-color: lightgray;
}

form {
    margin-bottom: 15px;
    justify-content: center;
}

.city-search {
    width: 100%;
    margin-bottom: 7px;
}

.index-bar {
    width: max-content;
}}}